*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/app/build/
/captures
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.jks
*.keystore
/venv/
/词典/
/Dictionary/
/app/release/
*.ico
*.py
DEBUG.md
UI_OVERVIEW.md
技术栈.png
.claude/
